html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}
.main-card{
    background-color: hsl(0, 0%, 100%);
    max-width: 100%;
    width: 350px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 10px;
    border-radius: 20px;
    display: block;
}
.qr-code{
    display: inline-block;
    width: 330px;
    border-radius: 20px;
    padding: 10px;
}
.main-card .text-section{
    font-size: 17px;
    text-align: center;
    margin: 0px 20px 0px 20px;
    font-family: outfit;
}
.main-card .text-section h2{
    color: hsl(218, 44%, 22%);
}
.main-card .text-section p{
    font-size: 15px;
    padding: 17px;
    margin: 0px 15px 0px 15px;
    color: hsl(220, 15%, 55%);
}
.footer{
    font-family: outfit;
    text-align: center;
}
#challenged{
    text-decoration: none;
    color: black;

}
#creator{
    text-decoration: none;
    color: black;
}
#challenged:hover{
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}
#creator:hover{
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}